{%extends 'base.html'%}

{%block title%}
<title>Eshop Login-register</title>
{%endblock%}

{%block body%}

    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== BREADCRUMB ===============-->
      <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
          <li><a href="index.html" class="breadcrumb__link">Home</a></li>
          <li><span class="breadcrumb__link"></span></li>
          <li><span class="breadcrumb__link">Login / Register</span></li>
        </ul>
      </section>

      <!--=============== LOGIN-REGISTER ===============-->
      <section class="login-register section--lg">
        <div class="login-register__container container grid">
          <div class="login">
            <h3 class="section__title">Login</h3>
            <span >{{err}}</span>
            <form class="form grid" action="{%url 'user-login'%}" method="post">
              {%csrf_token%}
              <input
                type="text"
                placeholder="Your username"
                name="uname"
                class="form__input"
              />
              <input
                type="password"
                placeholder="Your Password"
                name="pass"
                class="form__input"
              />
              <div class="form__btn">
                <button class="btn" type="submit">Login</button>
              </div>
            </form>
            <a href="{%url 'forgotpass'%}">Forgot password</a>
          </div>
          <div class="register">
            <h3 class="section__title">Create an Account</h3>
            <span class="text-success">{{msg}}</span>
            <form class="form grid" action="{%url 'user-registration'%}" method="post">
              {%csrf_token%}
              <input
                type="text"
                placeholder="Username"
                name="uname"
                class="form__input"
              />
              <input
                type="email"
                placeholder="Your Email"
                name="email"
                class="form__input"
              />
              <input
                type="password"
                placeholder="Your Password"
                name="pass"
                class="form__input"
              />
              <input
                type="password"
                placeholder="Confirm Password"
                name="cpass"
                class="form__input"
              />
              <div class="form__btn">
                <button class="btn" type="submit">Submit & Register</button>
              </div>
            </form>
          </div>
        </div>
      </section>

      <!--=============== NEWSLETTER ===============-->
      <section class="newsletter section">
        <div class="newsletter__container container grid">
          <h3 class="newsletter__title flex">
            <img
              src="./static/assets/img/icon-email.svg"
              alt=""
              class="newsletter__icon"
            />
            Sign in to Newsletter
          </h3>
          <p class="newsletter__description">
            ...and receive $25 coupon for first shopping.
          </p>
          <form action="" class="newsletter__form">
            <input
              type="text"
              placeholder="Enter Your Email"
              class="newsletter__input"
            />
            <button type="submit" class="newsletter__btn">Subscribe</button>
          </form>
        </div>
      </section>
    </main>

{%endblock%}