{%extends 'base.html'%}

{%block title%}
<title>Eshop Forgot password</title>
{%endblock%}

{%block body%}

    <!--=============== MAIN ===============-->
    <main class="main">
      <!--=============== BREADCRUMB ===============-->
      <section class="breadcrumb">
        <ul class="breadcrumb__list flex container">
          <li><a href="index.html" class="breadcrumb__link">Home</a></li>
          <li><span class="breadcrumb__link"></span></li>
          <li><span class="breadcrumb__link">reset password</span></li>
        </ul>
      </section>

      <!--=============== LOGIN-REGISTER ===============-->
      <section class="login-register section--lg">
        <div class="login-register__container container grid">
          <div class="login">
            <h3 class="section__title">reset password</h3>
            <span >{{err}}</span>
            <form class="form grid" action="" method="post">
              {%csrf_token%}
              <input type="hidden" name="email" value="{{email}}">
              <input
                type="text"
                placeholder="Your password"
                name="password"
                class="form__input"
              />

              <input
                type="text"
                placeholder="Your confirm password"
                name="cpassword"
                class="form__input"
              />
              
              <div class="form__btn">
                <button class="btn" type="submit">Submit</button>
              </div>
            </form>
            
          </div>
         
        </div>
      </section>

      <!--=============== NEWSLETTER ===============-->
      <section class="newsletter section">
        <div class="newsletter__container container grid">
          <h3 class="newsletter__title flex">
            <img
              src="./static/assets/img/icon-email.svg"
              alt=""
              class="newsletter__icon"
            />
            Sign in to Newsletter
          </h3>
          <p class="newsletter__description">
            ...and receive $25 coupon for first shopping.
          </p>
          <form action="" class="newsletter__form">
            <input
              type="text"
              placeholder="Enter Your Email"
              class="newsletter__input"
            />
            <button type="submit" class="newsletter__btn">Subscribe</button>
          </form>
        </div>
      </section>
    </main>

{%endblock%}