{% extends 'base.html' %}

{% block content %}

<h2>Add Blog</h2>

<form method="POST" enctype="multipart/form-data">

{% csrf_token %}

<div class="mb-3">
<label>Title</label>
<input type="text" name="title" class="form-control">
</div>

<div class="mb-3">
<label>Content</label>
<textarea name="content" class="form-control"></textarea>
</div>

<div class="mb-3">
<label>Cover Image</label>
<input type="file" name="cover_image" class="form-control">
</div>

<button class="btn btn-success">Add Blog</button>

</form>

{% endblock %}