* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background: whitesmoke;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.left h1 {
    color: blue;
    font-size: 60px;
    font-weight: 700;
}

.left p {
    font-size: 24px;
    width: 350px;
    margin-top: 10px;
}

.login-box {
    width: 350px;
    padding: 20px;
    background: white;
    box-shadow: 2px 2px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.login-box input {
    height: 45px;
    margin-bottom: 12px;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 6px;
    font-size: 16px;
}

.login-btn {
    height: 45px;
    background: blue;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 6px;

}

.login-btn:hover {
    background: rgb(14, 101, 233);
}

.forgot {
    margin: 12px auto;
    font-size: 14px;
    color: rgb(21, 99, 243);
}

.line {
    width: 100%;
    height: 1px;
    background: gainsboro;
    margin: 15px ;
}

.btn {
    height: 45px;
    background: rgb(75, 201, 50);
    color: white;
    border: none;
    border-radius: 6px;
    
}

btn:hover {
    background: rgb(51, 194, 51);
}