<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Send Mail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background: #f4f6f9;
        }

        .mail-card {
            max-width: 500px;
            margin: 80px auto;
            padding: 25px;
            background: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        .mail-card h3 {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="mail-card">
            <h3>📧 Send Mail</h3>

            <span>{{result}}</span>
            <form action="{%url 'sendmail'%}" method="post">
                {%csrf_token%}
                <div class="mb-3">
                    <label class="form-label">To</label>
                    <input type="email" class="form-control" placeholder="example@email.com" name="address">
                </div>

                <div class="mb-3">
                    <label class="form-label">Subject</label>
                    <input type="text" class="form-control" placeholder="Mail Subject" name="subject">
                </div>

                <div class="mb-3">
                    <label class="form-label">Message</label>
                    <textarea class="form-control" rows="5" placeholder="Write your message here..."
                        name="message"></textarea>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-primary">
                        Send Mail
                    </button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>