<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display</title>
</head>
<body>

    <h1 align="center">Student Details</h1>
    <table border="2" align="center" cellspacing="5" cellpadding="10">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th colspan="2">Action</th>
        </tr>

        {%for st in students%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{st.name}}</td>
            <td>{{st.email}}</td>
            <td>{{st.age}}</td>
            <td><a href="{%url 'delete'%}?id={{st.id}}">Delete</a></td>
            <td><a href="{%url 'edit'%}?id={{st.id}}">Edit</a></td>
        </tr>
        {%endfor%}

    </table>
    
    <br>
    <h2 align="center"><a href="{%url 'home'%}">Back To Register</a></h2>

</body>
</html>