<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    
    <form action="{%url 'register'%}" method="post">
        {%csrf_token%}
        <h1>Welcome to the Home Page</h1>
        <span>{{success}}</span>
        <br>
        <input type="hidden" name="id" value="{{st.id}}">
        <input type="text" name="name" placeholder="Enter your name" value="{{st.name}}">
        <input type="text" name="email" placeholder="Enter your email" value="{{st.email}}">
        <input type="text" name="age" placeholder="Enter your age" value="{{st.age}}">
        <input type="submit" value="submit">

    </form>
    <a href="{%url 'display'%}">view all data</a>

</body>
</html>